<footer class="bg-veryDarkViolet">
  <div
    class="md:max-w-6xl md:px-4 md:mx-auto grid grid-cols-1 md:grid-cols-5 gap-10 md:gap-14 justify-items-center text-center py-12 md:py-14 md:text-left"
  >
    <!-- logo -->
    <section>
      <img src="./images/logo2.svg" alt="" class="" />
    </section>

    <!-- links -->
    <div class="space-y-5">
      <p class="font-semibold text-white">Features</p>
      <ul class="space-y-3">
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Link Shortening</a
          >
        </li>
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Branded Links</a
          >
        </li>
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Analytics</a
          >
        </li>
      </ul>
    </div>

    <!-- second link -->
    <div class="space-y-5">
      <p class="font-semibold text-white">Resources</p>
      <ul class="space-y-3">
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Blog</a
          >
        </li>
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Developers</a
          >
        </li>
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Support</a
          >
        </li>
      </ul>
    </div>

    <!-- third link -->
    <div class="space-y-5">
      <p class="font-semibold text-white">Company</p>
      <ul class="space-y-3">
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >About</a
          >
        </li>
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Our Team</a
          >
        </li>
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Careers</a
          >
        </li>
        <li>
          <a
            href=""
            class="text-grayishViolet hover:text-cyan transition-colors duration-200 font-medium"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <!--social media link  -->
    <section class="space-x-3 justify-self-start">
      <i
        class="fa-brands fa-square-facebook cursor-pointer text-xl text-white hover:text-cyan transition-colors duration-200"
      ></i>
      <i
        class="fa-brands fa-twitter cursor-pointer text-xl text-white hover:text-cyan transition-colors duration-200"
      ></i>
      <i
        class="fa-brands fa-pinterest cursor-pointer text-xl text-white hover:text-cyan transition-colors duration-200"
      ></i>
      <i
        class="fa-brands fa-instagram cursor-pointer text-xl text-white hover:text-cyan transition-colors duration-200"
      ></i>
    </section>
  </div>
</footer>
