<!-- for the form and the short link -->
<div>
  <!-- for the form -->
  <div class="bg-darkViolet rounded-xl">
    <div
      class="border border-black p-6 md:p-10 rounded-xl space-y-4 md:space-y-0 md:space-x-3 bg-boost-mobile md:bg-boost-desktop bg-no-repeat bg-cover bg-center"
    >
      <input
        type="text"
        name="linkInput"
        id="linkInput"
        placeholder="Shorten a link here.."
        class="block w-full py-3 pl-4 md:pl-6 rounded-xl focus:outline-0 md:inline md:w-[70%]"
        required
      />
      <button
        type="submit"
        class="bg-cyan py-3 px-8 font-semibold text-white w-full md:w-[25%] rounded-xl cursor-pointer hover:bg-sky-400 transition-colors duration-200"
      >
        Shorten It!
      </button>
    </div>
  </div>

  <!-- for the shortened link -->
  <div class="space-y-6 mt-6 font-medium">
    <section
      class="p-4 md:py-2 md:px-6 bg-white flex flex-col md:flex-row md:space-y-0 md:justify-between md:items-center space-y-3 border border-black rounded-lg"
    >
      <p
        class="pb-3 md:pb-0 text-veryDarkBlue border-b md:border-0 border-gray md:w-[45%]"
      >
        https://www.frontendmentor.com
      </p>

      <section
        class="space-y-4 py-1 flex-auto md:py-0 md:space-y-0 flex flex-col md:flex-row md:w-[55%] md:gap-x-8 md:items-center md:justify-end"
      >
        <p class="text-cyan">https://relink/gaojtiuo</p>
        <button
          type="submit"
          class="bg-cyan py-3 px-8 font-semibold text-white w-full md:w-[25%] rounded-xl cursor-pointer hover:bg-sky-400 transition-colors duration-200"
        >
          Copy
        </button>
      </section>
    </section>
  </div>
</div>
