<!-- for the statistic section -->
<div>
  <!-- the header of the section-->
  <div class="space-y-4 text-center md:max-w-sm md:mx-auto">
    <h2 class="text-2xl font-bold text-darkViolet">Advanced Statistics</h2>
    <p class="text-grayishViolet font-medium leading-[1.6]">
      Track how your links are performing across the web with our advanced
      statistics dashboard.
    </p>
  </div>

  <!-- for the features -->
  <div
    class="mt-20 border grid grid-cols-1 md:grid-cols-3 gap-20 md:gap-10 lg:h-80"
  >
    <!-- brand recognition -->
    <div
      class="border text-center rounded-lg flex flex-col items-center md:items-start md:text-left lg:self-start p-6 pb-8"
    >
      <!-- logo -->
      <img
        src="images/icon-brand-recognition.svg"
        alt=""
        class="p-4 bg-darkViolet rounded-full overflow-visible margin-auto relative bottom-14"
      />
      <!-- details -->
      <section class="space-y-3 border mt-[-20px]">
        <h3 class="text-xl font-bold text-darkViolet">Brand Recognition</h3>
        <p class="text-grayishViolet leading-[1.6] font-medium">
          Boost your brand recognition with each click. Generic links don’t mean
          a thing. Branded links help instil confidence in your content.
        </p>
      </section>
    </div>

    <!-- detailed records -->
    <div
      class="border text-center rounded-lg flex flex-col items-center md:items-start md:text-left lg:self-center p-6 pb-8"
    >
      <!-- logo -->
      <img
        src="images/icon-detailed-records.svg"
        alt=""
        class="p-4 bg-darkViolet rounded-full overflow-visible margin-auto relative bottom-14"
      />
      <!-- details -->
      <section class="space-y-3 border mt-[-20px]">
        <h3 class="text-xl font-bold text-darkViolet">Detailed Records</h3>
        <p class="text-grayishViolet leading-[1.6] font-medium">
          Gain insights into who is clicking your links. Knowing when and where
          people engage with your content helps inform better decisions.
        </p>
      </section>
    </div>

    <!-- fully customizable -->
    <div
      class="border text-center rounded-lg flex flex-col items-center md:items-start md:text-left lg:self-end pb-8 p-6"
    >
      <!-- logo -->
      <img
        src="images/icon-fully-customizable.svg"
        alt=""
        class="p-4 bg-darkViolet rounded-full overflow-visible margin-auto relative bottom-14"
      />
      <!-- details -->
      <section class="space-y-3 border mt-[-20px]">
        <h3 class="text-xl font-bold text-darkViolet">Fully Customizable</h3>
        <p class="text-grayishViolet leading-[1.6] font-medium">
          Improve brand awareness and content discoverability through
          customizable links, supercharging audience engagement.
        </p>
      </section>
    </div>
  </div>
</div>
